<p class="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @project.technologies_used%>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', project_path %>
